
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Chào mừng đến trang Admin</h2>
<div>
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Danh sách hoạt động","DSHD","Admin")
        </li>
    </ul>
</div>

